* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Material Design Icons Desktop, JetBrainsMono Nerd Font, fa-vivaldi;
  font-size: 20px;
}

window#waybar {
  background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.0;
}

#custom-launcher {
  margin-left: 6px;
  padding-right: 10px;
  padding-left: 6px;
  font-size: 20px;
  background-color: #21222c;
  color: #1793d1;
}

#workspaces button,
#workspaces button.persistent,
#workspaces button.empty, 
#workspaces button.active {
  padding-right: 6px;
  padding-left: 6px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #21222c;
  border-radius: 12px;
}

#workspaces button {
  color: #bd93f9;
}

#workspaces button.active {
  color: #f1fa8c;
}

#workspaces button.persistent {
  color: #bd93f9;
}

#workspaces button.empty {
  color: #bd93f9;
}

#tray,
#mode,
#custom-powermenu,
#clock,
#backlight,
#battery,
#battery.full,
#battery.plugged,
#battery.critical,
#battery.warning,
#battery.charging,
#pulseaudio,
#pulseaudio.muted,
#bluetooth,
#network,
#network.disconnected {
  background-color: #21222c;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 12px;
}

#pulseaudio {
  color: #1793d1;
}

#pulseaudio.muted {
  color: #f8f8f2;
}

#bluetooth {
  color: #1793d1;
}

#backlight {
  color: #f1fa8c;
}

#network {
  color: #8be9fd;
}

#network.disconnected {
  color: #f8f8f2;
}

#battery {
  color: #50fa7b;
}

#battery.critical {
  color: #ff5555,
}

#battery.warning {
  color: #f1fa8c;
}

#battery.full {
  color: #50fa7b;
}

#battery.plugged {
  color: #50fa7b;
}

#battery.charging {
  color: #50fa7b;
}

#battery.critical {
  color: #ff5555;
}

#clock {
  color: #f8f8f2;
}

#custom-powermenu {
  color: #ff5555;
}




